<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date
      <mat-cell *matCellDef="let element">{{element.date|date}}</mat-cell>
    </mat-header-cell>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </mat-header-cell>
      <ng-container matColumnDef="calories">
        <mat-header-cell *matHeaderCellDef>Calories
          <mat-cell *matCellDef="let element">{{element.calories|number}}</mat-cell>
        </mat-header-cell>

        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef>Duration
            <mat-cell *matCellDef="let element">{{element.duration|number}}</mat-cell>
          </mat-header-cell>
          <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef>State
              <mat-cell *matCellDef="let element">{{element.state}}</mat-cell>
            </mat-header-cell>
  </ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
<mat-row *matRowDef="Let row; coloumns:displayedColumns"></mat-row>
</mat-table>