<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <a routerLink="/login">Login</a>
  </a>
  <a mat-list-item routerLink="/training" (click)="onClose()">
    <mat-icon>fitness_center</mat-icon>
    <a routerLink="/training">Training</a>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>eject</mat-icon>
      <a routerLink="/">Logout</a>
    </button>
  </mat-list-item>
</mat-nav-list>
